/* ---------------------Global Styles  -------------------*/
body {
    color: #0e0e0e;
    font: 400 16px/24px Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    padding: 0;
}
section {
    margin-top: 0px;
}
a:hover{
    text-decoration: none;
}
/* --------------------- Hero Styles -------------------*/
.hero-page {
    margin-top: 100px;
}
.img-place-holder {
    border: 2px solid #0A2244;
    width: 100%;
    height: 200px;
    margin: 50px 0px -75px;
}
.img-place-holder > img {
    width: 100%;
    height: 100%;
}
.hero-page .col-md-4 h3 {
    margin-top: 105px;
}

/* --------------------- Default Page Styles & TOC Text Fix  -------------------*/

 .default-content .h1, .default-content  h1 {
    /* margin-bottom: -50px !important; */
    border-bottom: 1px solid #e1e1e1;
}

.default-content .h2, .default-content  .h3, .default-content h2, .default-content h3 {
    /*  margin-top: 0px; */
    padding-top: 115px;
}
h1 {
    font-family: 'Helvetica Neue LT Std', Arial, serif;
    font-weight: 400;
    line-height: 1.3;
    color: #D4540A;
}
h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue LT Std', Arial, sans-serif;
    font-weight: 400;
    color: #00497B;
}
h2 + h3 {
    padding-top: 15px !important;
}
h2 + p, h3 + p, h4 + p, h5 + p, h6 + p,h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul, h2 + pre, h3 + pre, h4 + pre, h5 + pre, h6 + pre, p + p, p + ul, ul + p, ul + ul, pre + p, pre + ul, p + pre, ul + pre, li + pre, pre + pre, ol + pre{
    margin: 20px 0px 0px 0px!important;
}
p > img{
    margin-bottom:20px;
    border:1px solid #e1e1e1;
}
/*
.default-content pre{
    margin-top:95px;
}
*/
.default-content a{
    color: #D4540A;
}
.default-content img{
    width:100%;
}
.default-content a:visited {
    color: #800080;
}
.default-content-footer {
    border-top: 1px solid #ebebeb;
    clear: both;
    color: #757575;
    font: italic 13px/20px Roboto,sans-serif;
    margin-top: 16px;
}

/* ---------------------Header Styles -------------------*/
#header {
    background-image: url(http://www.dmdconnects.com/hs-fs/hub/357405/file-1144153081-png/image/Header-bg.png);
    height: 75px;
    margin-top: -20px;
    padding: 7px 0 0 0;
    width:100%;
    z-index:1005;
    top:0;
}
.header-el{
    float:left;
}
/* Logo Styles */
.logo.left {
    color: #ffffff;
    font-weight: bold;
    margin: 28px 0px 0px 0px;
    font-size: 41px;
}

img.logo-image {
    display:none;
}

#header-hr {
    width: 100%;
    height: 35px;
    background-color: rgb(210,84,30);
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    top: 55px;
    z-index: 1000;
}
#navbar {
    display: block;
    padding: 15px;
    margin: 10px 0 0 0;
}
#navbar > span.fa {
    display: inline-block;
    font: normal normal normal 12px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: auto;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 5px;
    -moz-osx-font-smoothing: grayscale;
}

/* Breadcrumb Styles */
#breadcrumbs {
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    font-size: .9em;
    margin-top: 3px;
    padding: 0px;
}
#breadcrumbs span {
    display: inline-block;
    padding: 0 1rem;
}
#breadcrumbs span:first-child {
    padding-left: 0;
}
#breadcrumbs li {
    display: inline-block;
    width: 20px;
    text-align: center;
}
#breadcrumbs span {
    color: #ffffff;
}

/* ---------------------Plugin Styles -------------------*/
/* Search box styles */
.search-wrapper {
    min-width: 250px;
}
.header-search-box {
    float: right;
    margin: 25px 0px 0px 0px;
}
.search-wrapper .search-input {
    position: relative;
    padding: 8px 45px 10px 5px;
    z-index: 1;
    margin: 0 -6px 0 0;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    color: #888;
    width: 80%;
    height: 31px;
    font-size: .9em;
    line-height: 12px;
}
.search-submit {
    display: inline-block;
    border-radius: 0;
    background: rgb(210,84,30);
    border: 1px solid rgb(210,84,30);
    vertical-align: top;
    color: #fff;
    height: 31px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0px;
}
.fa-search{
    height: 21px;
    width: 21px;
}
/* Read Time Styles*/
.readtime {
    float: right;
    margin-top: 16px;
    color: #757575;
    font-size: .9em;
}
.readtime::before{
    content: 'RT: '
}


/* Star Rating Styles */
.star-ratings {
    float: right;
    display: block;
    margin-top: 15px;
    clear: both;
}
.star-data-container {
    display: none;
}

/* ---------------------Sidebar Navigation Styles  -------------------*/
aside{
    display:none;
}
.sidebar {
    background: #f7f7f7;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 0px 20px 20px;
    margin-top: 20px;
    width: 17.3%;
    font-size:0.85em;
    color:#757575;
}
.sidebar ul{
	list-style: none;
	margin-left: -40px;
}
.sidebar ul > li {
    border-top: 1px solid #cfd8dc;
    margin: 15px -16px 0;
    padding: 16px 16px 0;
}

.sidebar ul>li:nth-child(1) {
    border-top: 0px!important;
    margin: 0;
    padding: 0px 5px 0 0px;
}

.sidebar ul>.child_page>li {
    border-top: 0px!important;
    margin: 0;
    padding: 3px 5px 0 0px;
}
.sidebar ul > .child_page > li > a{
    color:#0e0e0e;
    font-weight: normal;
}
.sidebar ul>.child_page>li>a:hover{
    color: #3969b7;
    text-decoration: none;
}
.sidebar ul li a{
    color: #757575;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}
.sidebar li.active a {
    font-weight: 700;
    color: #3969b7;
    text-decoration: none;
}

.sidebar a{
    color: #3969b7;
    text-decoration: none;
}

/* ---------------------Table of Contents styles  -------------------*/
.sidebar-contents {
    background: #f7f7f7;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 20px 20px 20px;
    margin-top: 25px;
    border-left: 3px solid rgb(210,84,30);
    font-size: .85em;
    color: #757575;
}

.sidebar-contents>ul {
    margin-left: -40px !important;
    list-style: none;
}
.sidebar-contents ul.menu_level_1 {
    list-style: none;
    margin-left: -40px!important;
}

.sidebar-contents ul.menu_level_2 {
    list-style: none;
}
.sidebar-contents ul > li > a{
    color: #757575;
}

.sidebar-contents ul > .child_page > li > a{
    color:#757575;
    font-weight: normal;
}
.sidebar-contents ul li a{
    color: #0e0e0e;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}
.sidebar-contents ul li.active a{
    font-weight: bold;
    color: #3969b7;
    text-decoration: none;
}
.sidebar-contents a:hover{
    color: #3969b7;
    text-decoration: none;
}
.mobile-contents {
    display:block;
    border-left:none;
    background: #ffffff;
    border-bottom:1px solid #e1e1e1;
    width:100%;
    margin-top: 100px;
}

/* --------------------- Mobile Navigation Styles -------------------*/
#panel {
    margin-top: 15px;
}
.sb-slidebar{
    background-color: #122549;
}
.sb-slidebar ul {
    list-style: none;
    margin: 5px 0 5px -25px;
}
.sb-slidebar a{
    color:#ffffff;
}

.sb-slidebar ul.parent_page > li.active a {
    font-weight: 700;
    color: #fb8c00;
}
.sb-slidebar  a:hover{
    color: #fb8c00;
    text-decoration: none;
}

/* --------------------- General Table Styles -------------------*/
thead{
    background:url(http://www.dmdconnects.com/hs-fs/hub/357405/file-1144153081-png/image/Header-bg.png);
    color:#fff;
}


table {
    border-collapse: collapse;
    width: 100%;
   /*  margin: 10px 5px -75px 0; */
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f7f7f7}

.note{
    background: #e1f5fe;
    color: #0288d1;
    display: block;
    font-size: 14px;
    margin: 16px 0;
    padding: 12px 24px 12px 60px;
}
.note::before {
    color: #039be5;
    content: 'star';
}


/* --------------------- FooterStyles -------------------*/
.footer {
    background-color: #0A2244;
    color: #fff;
    font-size: .95em;
    margin-top:40px;
}
.footer h4{
    color:#fff;
}
.footer-content-left, .footer-content-mid, .footer-content-social {
    margin-top: 25px;
}
.footer a{
    color: #fff;
}
.footer ul {
    list-style: none;
    margin-left: -40px !important;
}
.footer a:hover{
    color: rgb(210,84,30);
}
.footer .copy-right-footer {
    margin: 20px auto;
    width: 201px;
}
/* Footer Social */
.btn-youtube, .btn-facebook, .btn-twitter, .btn-google {
    font-size: 25px;
    border-radius: 25px 25px 25px 25px;
    width: 36px;
    padding: 0;
    transition: ease 0.3s all;
}

.btn-youtube{
    background:#e62d28;
}
.btn-youtube:hover, .btn-youtube a:hover{
    background: #ffffff;
    color:#e62d28 !important;
}
.btn-google{
    background: #DD594A;
}
.btn-google:hover, .btn-google a:hover{
    background: #ffffff;
    color: #DD594A;
}
.btn-facebook{
    background: #3B599D;
}
.btn-facebook:hover, .btn-facebook a:hover{
    background: #ffffff;
    color: #3B599D !important;
}
.btn-twitter{
    background:#46d4fe;
}
.btn-twitter:hover, .btn-twitter a:hover{
    background: #ffffff;
    color:#46d4fe;
}


/* --------------------- Search Styles -------------------*/
.simplesearch h1{
    margin-bottom:15px !important;
    border-bottom: 0px;
}
.simplesearch p {
    margin: 10px 0px;
}
.simplesearch section{
    margin-top:0px;
 }
.search-item h2, .search-item h3, .search-item h5, .search-item h4 {
    padding-top: 0px !important;
}.search-item {
     margin-left: 0px;
 }
.search-image {
    display: none;
}
.header-search-box {
    margin: 25px 0px 0px 0px;
}

/* Custom Media Query Styles */
@media (min-width: 992px){
    /* Logo Styles */
    .logo.left {
        color: #ffffff;
        font-weight: bold;
        margin: 13px 0px 0px 0px;
        font-size: 41px;
    }

    img.logo-image {
        display:inline-block;
        margin: 8px 10px 13px 10px;
        width: 40px;
    }

    aside{
        display:block;
    }
    #navbar{
        display:none;
    }
    #breadcrumbs {
        padding-left: 0rem;
        font-size:1.5em;
    }
    .mobile-contents {
        display:none;
    }
    section {
        margin-top: 100px;
    }
    .hero-page {
        margin-top: 0px;
    }
    .header-search-box {
        margin: 25px 25px 0px 0px;
    }
    .readtime {
        float: right;
        margin-top: 35px;
        color:#757575;
        font-size:0.9em;
    }
    .readtime::before{
        content: 'Read Time: '
    }
}

@media (min-width: 1200px){
    .container {
        width: 1400px !important;
    }
    .header-search-box {
        margin: 25px 135px 0 0;
    }
}