
{% set footercol2 = page.find('/footer-content/dmd-connects-links') %}
{% set footercol3 = page.find('/footer-content/blog-categories') %}




<div class="container">
    <div class="row">
        <div class="col-md-12 footer-content-social">
            <a class="btn btn-social-icon btn-youtube" href="https://www.youtube.com/channel/UCbiKk5Qek1CsxcO__eFBQHQ?view_as=subscriber" target="_blank"><span class="fa fa-youtube"></span></a>
            <a class="btn btn-social-icon btn-google" href="https://plus.google.com/u/0/110047932889162495562" target="_blank"><span class="fa fa-google"></span></a>
            <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/groups/thedulcimerhymnal/" target="_blank"><span class="fa fa-facebook"></span></a>
            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/besh27" target="_blank"><span class="fa fa-twitter"></span></a>
        </div>
    </row>
    <div class="row">
        <p class="copy-right-footer">© 2018 The Dulcimer Hymnal</p>
    </div>
</div>
